*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.left{
    width: 100%;

}
.JournalCont{
    /*for bg image*/
    border-image-slice:
    276 292 276 300 fill;
    border-image-width:
    10px 10px 10px 10px;
    border-image-outset:
    0px 0px 0px 0px;
    border-image-repeat:
    stretch stretch;
    border-image-source: url("../images/Box.png");

    padding: 50px;
    display: flex;
    align-items: center;
    min-width: 800px;

}

@media(max-width: 500px){
    .JournalBox{
        grid-template-columns: 1fr;
    }
}
.JournalHead{
    margin: 4px;
    padding-left: 12px;
    grid-column: 1/-1;
}

.JournalText{
    padding: 12px;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;    
}
    

.trackerContainer{
    /* width: 400px; */
    margin: 4px;
    border-radius: 4px;
    padding: 4px;
}
.tracker{
    display: flex; 
}
.timeSluts, .timeNotes{
    height: 26px;
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
}
.timeSluts{
    width: 80px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeBars{
    width: 30px;

}
.halfBar{
    height: 13px;
    border: 0.8px solid black;
}

.active{
    background-color: green;
}
.no-select {
  user-select: none;
}
.timeNotes{
    width: 100%;
}
.timeNote{
    resize: none;
    padding: 2px;
    font-size: 16px;
    width: 100%;
    background-color: aliceblue;
}
