*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.note{
  position:absolute;
  border: 1px solid black;
  user-select: none;
  padding: 10px;
  width: 200px;
  cursor: move;
  background-color: lightyellow;

}

.notes{
  background-color: rgb(31, 146, 108);
  height: 100vh;
  width: 100vw;
}