*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.note{
  background-color: rgb(244, 244, 82);
  height: 60px;
  width:200px;
  text-align: center;
  border: 2px black solid;
  color:black;

}

.notes{
  background-color: rgb(31, 146, 108);
  height: 100vh;
  width: 100vw;
}